controller:
  installPlugins:
    - kubernetes
    - workflow-aggregator
    - git
    - configuration-as-code
    - job-dsl

  extraEnvVars:
    - name: CASC_JENKINS_CONFIG
      value: /var/jenkins_home/casc_configs
    - name: GITHUB_TOKEN
      valueFrom:
        secretKeyRef:
          name: github-token
          key: GITHUB_TOKEN

  additionalVolumes:
    - name: jenkins-casc
      configMap:
        name: jenkins-casc

  additionalVolumeMounts:
    - name: jenkins-casc
      mountPath: /var/jenkins_home/casc_configs
      readOnly: true

  resources:
    requests:
      cpu: "200m"
      memory: "512Mi"
    limits:
      cpu: "1000m"
      memory: "1200Mi"

persistence:
  enabled: false

